In [1]:
#Now we'll learn how to work with excel files

In [2]:
"""
IMPORTANT NOTE: NEED TO HAVE xlrd AND openpyxl INSTALLED!!!
"""

'\nIMPORTANT NOTE: NEED TO HAVE xlrd AND openpyxl INSTALLED!!!\n'

In [3]:
import pandas as pd

In [5]:
# Open the excel file as an object
xlsfile = pd.ExcelFile('NNU-IT-Revised Budget.xlsx')

In [7]:
# Parse the first sheet of the excel file and set as DataFrame
dframe = xlsfile.parse('Detailed Budget')

In [8]:
#Show!
dframe

,DETAILED BUDGET,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TEI : An-Najah National University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Project Title:Linking with the private IT Sect...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Task One: Preperation and Needs Assessment,NaN,NaN,NaN,Task 1,Task 2,Task 3,Task 4,Task 5,Task 6,Total,NaN,NaN,NaN,NaN,NaN
6,Task Two: Capacity Building and Procurement of...,NaN,NaN,# of Months,10,7,1,11,7,NaN,36,NaN,NaN,NaN,NaN,NaN
7,Task Three: Course Redesign and Completion of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Task Four: Course Redsign and Implementation- ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Task Five: Course Implemntation-Cohort 2 and C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,Source of Funding and Budget (US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,QIF,NaN,Contribution by PPU,NaN,Third Party (Financiers),NaN,Total ($US),NaN,NaN,NaN
13,Activities/Task,Unit Cost,Unit,Unit Type,QIF % of Unit Cost,Budgeted Amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,Amount,%,Amount,%,Amount,%,NaN,NaN,NaN,NaN
15,Task One: Preperation and Needs Assessment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Human Resources and Project Management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,a. Project Director (University Faculty),425,10,Month,0,4250,0,0,4250,1,0,0,4250,NaN,NaN,NaN
18,b: Project Coordinator (full time ),1500,9,Month,1,13500,13500,1,0,0,0,0,13500,NaN,NaN,NaN
19,c: Admin & financail Assistant (full time),500,10,Month,0,5000,0,0,5000,1,0,0,5000,NaN,NaN,NaN
20,d: Secretary (part time)),300,10,Month,0,3000,0,0,3000,1,0,0,3000,NaN,NaN,NaN
21,e. Project operations&maintenance,100,10,Month,1,1000,1000,1,0,0,0,0,1000,NaN,NaN,NaN
22,WP1: Needs assessment & Course Selection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Activity 1.1:Market needs assessment,5000,1,consultant,1,5000,5000,1,0,0,0,0,5000,NaN,NaN,NaN
24,Activity 1.3 :Course teacher & partner orienta...,20,20,Participant,1,400,400,1,0,0,0,0,400,NaN,NaN,NaN
25,Activity 1.4 :Study visits to European univers...,5160,6,Participant,1,30960,30960,1,0,0,0,0,30960,30960.0,NaN,NaN
26,WP3: Course redesign for 8 courses & Equipment...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN
27,Activity 3.3: Equipment Procurement and Subscr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,a. Subscription fees in a specilaized training...,1875,3,Year,1,5625,5625,1,0,0,0,0,5625,NaN,NaN,NaN
29,Subtotal,NaN,NaN,NaN,NaN,68735,56485,NaN,12250,NaN,0,NaN,68735,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Activity 3.2: 8 New course syllabi consultation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,a. IT consultant (500$/Course x 8 Courses x 1 ...,4000,1,Int'l Cons.,1,4000,4000,1,0,0,0,0,4000,NaN,NaN,NaN
69,b. Pedagogy consultant (500$/Course x 8 Course...,4000,1,Int'l Cons.,1,4000,4000,1,0,0,0,0,4000,NaN,NaN,NaN
70,WP4: New design implementation -Cohort 1 (Juni...,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,0,NaN,NaN,NaN
71,Activity4.1:Implementing junior course designs...,1500,2,Person,0,3000,0,0,3000,1,0,0,3000,NaN,NaN,NaN
72,4.1.1: Company placement for junior student te...,300,30,Students,1,9000,9000,1,0,0,0,0,9000,NaN,NaN,NaN
73,4.3 Evaluation of course implementation-cohort...,3000,1,Consultant,1,3000,3000,1,0,0,0,0,3000,NaN,NaN,NaN
74,Subtotal,NaN,NaN,NaN,NaN,54075,37600,NaN,16475,5,0,NaN,54075,NaN,NaN,NaN
75,Task Five: Course Implemntation-Cohort 2 and C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Human Resources and Project Management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,a. Project Director (University Faculty),425,7,Month,0,2975,0,0,2975,1,0,0,2975,NaN,NaN,NaN
78,b: Project Coordinator (full time ),1500,7,Month,1,10500,10500,1,0,0,0,0,10500,NaN,NaN,NaN
79,c: Admin & financail Assistant (full time),500,7,Month,0,3500,0,0,3500,1,0,0,3500,NaN,NaN,NaN
80,d: Secretary (part time)),300,7,Month,0,2100,0,0,2100,1,0,0,2100,NaN,NaN,NaN
81,e. Project operations&maintenance,100,7,Month,1,700,700,1,0,0,0,0,700,NaN,NaN,NaN
82,WP5: New course design implementation- Cohort ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,5.1.1 Company placement for senior student tea...,900,30,Students,1,27000,27000,1,0,0,0,0,27000,NaN,NaN,NaN
84,Activity 5.3: Evaluation of course implementat...,5000,1,consultant,1,5000,5000,1,0,0,0,0,5000,NaN,NaN,NaN
85,WP6: Sustainability and dissemination,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Activity 6.2: Sustainability planning workshop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,a. Coffee breaks and lunches,30,12,person,1,360,360,1,0,0,0,0,360,NaN,NaN,NaN
88,b. Project director,425,1,Workshop,0,425,0,0,425,1,0,0,425,NaN,NaN,NaN
89,Activity6.4: National dissemination workshop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,"a. Work shop (Hotel Venu, Coffee break, lunch)",32,80,Person,1,2560,2560,1,0,0,0,0,2560,NaN,NaN,NaN
91,b. stay (one night * 40 person from outside Ra...,100,40,Person,1,4000,4000,1,0,0,0,0,4000,NaN,NaN,NaN
92,b. Transportation (80 p*25.5$),25.5,80,person,1,2040,2040,1,0,0,0,0,2040,NaN,NaN,NaN
93,d. Banner,69,1,item,1,69,69,1,0,0,0,0,69,NaN,NaN,NaN
94,Activity 6.5: Website development and launching,5000,1,consultant,1,5000,5000,1,0,0,0,0,5000,NaN,NaN,NaN
95,Subtotal,NaN,NaN,NaN,NaN,66229,57229,NaN,9000,NaN,0,NaN,66229,NaN,NaN,NaN
96,Total,NaN,NaN,NaN,NaN,291875,244350,NaN,47525,NaN,0,NaN,291875,NaN,NaN,NaN