In [2]:
# We can import data using lxml

from pandas import read_html
import pandas as pd
from pandas import Series, DataFrame

In [6]:
#Lets grab a url for list of failed banks
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

In [3]:

"""
IMPORTANT NOTE: NEED TO HAVE beautiful-soup INSTALLED as well as html5lib !!!!

"""

'\nIMPORTANT NOTE: NEED TO HAVE beautiful-soup INSTALLED as well as html5lib !!!!\n\n'

In [8]:
# Grab data from html and put it intop a list of DataFrame objects!
dframe_list = pd.io.html.read_html(url)

In [9]:
#Grab the first list item from the data base and set as a DataFrame
dframe = dframe_list[0]

In [10]:
#Show
dframe

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017","February 17, 2017"
1,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,"January 13, 2017","February 17, 2017"
2,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
3,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
4,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
5,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
6,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
7,Hometown National Bank,Longview,WA,35156,Twin City Bank,"October 2, 2015","April 13, 2016"
8,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,"October 2, 2015","October 24, 2016"
9,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb","July 10, 2015","August 17, 2016"
10,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,"May 8, 2015","July 12, 2016"
11,Doral Bank En Espanol,San Juan,PR,32102,Banco Popular de Puerto Rico,"February 27, 2015","May 13, 2015"
12,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,"February 13, 2015","April 21, 2015"
13,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb","January 23, 2015","April 21, 2015"
14,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,"January 16, 2015","January 15, 2016"
15,Northern Star Bank,Mankato,MN,34983,BankVista,"December 19, 2014","January 6, 2016"
16,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.","November 7, 2014","November 10, 2016"
17,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,"October 24, 2014","January 6, 2016"
18,NBRS Financial,Rising Sun,MD,4862,Howard Bank,"October 17, 2014","March 26, 2015"
19,"GreenChoice Bank, fsb",Chicago,IL,28462,"Providence Bank, LLC","July 25, 2014","December 12, 2016"
20,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,"July 18, 2014","July 11, 2016"
21,The Freedom State Bank,Freedom,OK,12483,Alva State Bank & Trust Company,"June 27, 2014","March 25, 2016"
22,Valley Bank,Fort Lauderdale,FL,21793,"Landmark Bank, National Association","June 20, 2014","June 29, 2015"
23,Valley Bank,Moline,IL,10450,Great Southern Bank,"June 20, 2014","June 26, 2015"
24,Slavie Federal Savings Bank,Bel Air,MD,32368,"Bay Bank, FSB","May 30, 2014","December 12, 2016"
25,Columbia Savings Bank,Cincinnati,OH,32284,"United Fidelity Bank, fsb","May 23, 2014","November 10, 2016"
26,AztecAmerica Bank En Espanol,Berwyn,IL,57866,Republic Bank of Chicago,"May 16, 2014","October 20, 2016"
27,Allendale County Bank,Fairfax,SC,15062,Palmetto State Bank,"April 25, 2014","July 18, 2014"
28,Vantage Point Bank,Horsham,PA,58531,First Choice Bank,"February 28, 2014","March 3, 2015"
29,"Millennium Bank, National Association",Sterling,VA,35096,WashingtonFirst Bank,"February 28, 2014","March 03, 2015"
...,...,...,...,...,...,...,...
519,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,"May 9, 2008","August 28, 2012"
520,Hume Bank,Hume,MO,1971,Security Bank,"March 7, 2008","August 28, 2012"
521,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,"January 25, 2008","October 26, 2012"
522,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,"October 4, 2007","September 12, 2016"
523,NetBank,Alpharetta,GA,32575,ING DIRECT,"September 28, 2007","August 28, 2012"
524,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,"February 2, 2007","October 27, 2010"
525,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,"June 25, 2004","April 9, 2008"
526,Reliance Bank,White Plains,NY,26778,Union State Bank,"March 19, 2004","April 9, 2008"
527,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,"March 12, 2004","June 5, 2012"
528,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,"February 14, 2004","April 9, 2008"
529,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,"November 14, 2003","July 22, 2005"
530,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,"May 9, 2003","June 5, 2012"
531,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,"February 7, 2003","October 20, 2008"
532,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,"December 17, 2002","October 20, 2004"
533,Bank of Alamo,Alamo,TN,9961,No Acquirer,"November 8, 2002","March 18, 2005"
534,AmTrade International Bank En Espanol,Atlanta,GA,33784,No Acquirer,"September 30, 2002","September 11, 2006"
535,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,"June 27, 2002","April 9, 2008"
536,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,"June 26, 2002","February 14, 2012"
537,New Century Bank,Shelby Township,MI,34979,No Acquirer,"March 28, 2002","March 18, 2005"
538,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,"March 1, 2002","April 9, 2008"
539,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,"February 7, 2002","February 5, 2015"
540,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,"February 1, 2002","October 25, 2012"
541,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,"January 18, 2002","November 6, 2003"
542,"Hamilton Bank, NA En Espanol",Miami,FL,24382,Israel Discount Bank of New York,"January 11, 2002","September 21, 2015"
543,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,"September 7, 2001","February 10, 2004"
544,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
545,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
546,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
547,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
548,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [11]:
dframe.columns.values

array(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'], dtype=object)